@tailwind base;
@tailwind components;
@tailwind utilities;

.tree-marker:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.info-window {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  width: 100%;
  max-width: 500px; /* Adjust the width as necessary */
  box-sizing: border-box;
}

/* Styles for the title of the form */
.info-title {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
  color: #111827; /* Dark gray */
  margin-bottom: 16px;
}

/* Styles for the description text */
.info-description {
  font-size: 1rem;
  color: #6b7280; /* Gray */
  margin-bottom: 16px;
  text-align: left;
}

/* Styles for the form fields */
.form-input,
.form-textarea {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 10px;
  border: 2px solid #e5e7eb; /* Light gray border */
  border-radius: 8px;
  font-size: 1rem;
  color: #111827; /* Dark gray */
}

.form-textarea {
  height: 120px;
  resize: vertical;
}

/* Styles for the label */
.form-label {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

/* Styles for the form link */
.form-link {
  font-size: 0.875rem;
  font-weight: 600;
  color: #4f46e5; /* Indigo */
  text-decoration: none;
  margin-left: 8px;
}

.form-link:hover {
  text-decoration: underline;
}

/* Styles for the form button */
.form-button {
  width: 100%;
  padding: 12px 20px;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff; /* White text */
  background-color: #10b981; /* Green background */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: #059669; /* Darker green */
}

.form-image-preview {
  max-width: 100%;
  max-height: 300px; /* Adjust the height as necessary */
  margin-bottom: 16px;
  border-radius: 8px;
}

/* Styles for error messages */
.error-message {
  font-size: 0.875rem;
  color: #ef4444; /* Red */
  margin-top: 4px;
}

input[type="file"] {
  display: none;
}
